h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    background-color: aqua;
}
li{
    font-size: 18px;
}
.li1{
    background-color: red;
}
.li2{
    background-color: black;
}